<div class="card p-4 bg-gray">
  <form>
    <div class="row g-3">
      <div class="col-12">
        <label class="form-label">ISBN</label>
        <input
          type="text"
          class="form-control"
          placeholder="Ingrese un ISBN"
          aria-label="ISBN del Libro"
        />
      </div>
      <div class="col-12">
        <label class="form-label">Título</label>
        <input
          type="text"
          class="form-control"
          placeholder="Ingrese un Título"
          aria-label="ISBN del Libro"
        />
      </div>
      <div class="col-12">
        <label class="form-label">Autor</label>
        <select class="form-select">
          <option selected>Seleccione un Autor</option>
          <option>J. R.R Tolkien</option>
          <option>George R.R Martin</option>
          <option>J. K. Rowling</option>
          <option>Andrzej Sapkowski</option>
          <option>Frank Herbert</option>
        </select>
      </div>
      <div class="col-12">
        <label class="form-label">Categoría</label>
        <select class="form-select">
          <option selected>Seleccione una Categoría</option>
          <option>Terror</option>
          <option>Fantasía</option>
          <option>Romance</option>
          <option>Drama</option>
          <option>Comedia</option>
        </select>
      </div>
      <div class="col-md-4">
        <label class="form-label">Páginas</label>
        <input type="number" class="form-control" placeholder="0" />
      </div>
      <div class="col-md-4">
        <label class="form-label">Stock</label>
        <input type="number" class="form-control" placeholder="0" />
      </div>
      <div class="col-md-4">
        <label class="form-label">Precio</label>
        <input type="number" class="form-control" placeholder="0.0" />
      </div>
      <div class="col-12">
        <label class="form-label">Descripción</label>
        <textarea class="form-control" style="height: 100px"></textarea>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-outline-primary float-end">Registrar</button>
      </div>
    </div>    
  </form>
</div>
