<div class="px-4 py-5 my-5 text-center animate__animated animate__fadeIn">
  <img
    class="d-block mx-auto mb-4"
    src="../../../../assets/svg/undraw_book_lover_mkck.svg"
    alt=""
    width="200"
    height="200"
  />
  <h1 class="display-5 fw-bold">Crud de un Libro</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Bienvenido a mi aplicación Crud de un Libro, usando Angular 12 + Bootstrap,
      consumiendo una API desarrollada en C# ASP NET MVC, y manejo del gestor
      SQL Server. Intentado con mucho esfuerzo y ♥ por José Robles Colonia.
    </p>        
  </div>
</div>
